body{
    margin: 0px;
    padding: 0px;
}


div#baniere #logo #menu{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div#logo{
    background-color: lightskyblue;
    width: 100px;
    height:100px;
}

div#piedPage{
    background-color: darkcyan;
    font-family: fantasy;
    margin-top: 315px;
}

div#body{
}

ul#menu{
    background-color: lightgrey;
    padding: 0px;
    margin: 0px;
    
}
ul#menu li a.vert:hover{
    
    background-color: white;
    color:green;
    transition: all 0.5s;
}

ul#menu li a.jaune:hover{
    
    background-color: white;
    color:darkorange;
    transition: all 0.5s;
}

ul#menu li a.bleu:hover{
    
    background-color: white;
    color: blue;
    transition: all 0.5s;
}

ul#menu li {
    
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 40px;
    border-right: px solid #cccc;
    line-height: 40px;
    text-align: center;
}
ul#menu li a{
    display: block;
    text-decoration: none;
}

ul#mag li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-decoration: none;
    background-color:;
}

ul#mag{
    background-color:lightblue;
}

ul#mag a{
    text-decoration: none;
    padding:  30px;
    
    
}

/*img{
    height: 150px;
    width: 400px;
}*/

.imag:hover{
    width: 1350px;
    height:500px;
    transition: all 1s;
}



nav > ul{
    margin: 0px;
    padding: 0px;
}



footer{
    
}


} 