@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #Fff;
}

.submit {
  overflow: visible;
}

.submit{ 
  text-transform: none;
}

.submit, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}
img{
	align:center;
	}
input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #F60;
  max-width: 450px;
  margin: 60px auto;
  position: relative;
  border-radius:20px;
  
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h2 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  font-family:"Times New Roman", Times, serif;
}


.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

textarea {
	line-height: 150%;
	height: 100px;
	resize: none;
  width: 100%;
}
 
::-webkit-input-placeholder {
	color: #CCC;
}

:-moz-placeholder { 
	color: #CCC;
	opacity: 1;
}

::-moz-placeholder {
	color: #CCC;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #CCC;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  border-radius:20px;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #3C6;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 26px;
  }
  
 
  
  #form_button {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    font-size: 18px;
  }
  
  
  
  input[type='text'], [type='email'], textarea {
    font-size: 0.875em;
  }
}